@import url(https://coolors.co/0b3954-bfd7ea-7f9172-7a5c61);
@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@200;800&display=swap');
:root {
    --primary-color:#BFD7EA;
    --Secondary-color:#0B3954;
    --accent1-color:#7F9172;
    --accent2-color:#7A5C61;

    --heading-font:ExtraBold 800;
    --paragraph-font:ExtraLight 200;

    --nav-background-color:var(--primary-color);
    --nav-link-color:var(--accent2-color);
    --nav-hover-link-color:var(--Secondary-color);
    --nav-hover-background-color:var(--accent2-color);
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color)
}
header {
padding:20px;
background-color:var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display:block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    }
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color:var(--nav-hover-background-color);
}