*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color:steelblue;
}
main img {
    float:right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 1em;
}
main{
    max-width: 840px;
}
p {
    padding: 0.3rem;
}
aside {
    width:900px;
    text-align: center;
}
aside h2 {
    position:absolute;
    top:330px;
    right:680px;

}
aside img {
    width: 500px;
    height: auto;

}
footer p{
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align:center;
}
/* Class Selectors */
.box {
    margin:1rem;
    border: 2px solid rgba(14, 8, 59, 0.9);
    padding:1rem;
    background-color: rgb(8, 233, 203);
    color:rgb(110, 108, 73);

}